.inputContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.inputWrapper {
  min-width: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #d1d1d6;
  border-radius: 4px;
  gap: 8px;
}

.Input {
  width: 100%;
  background-color: transparent;
  text-overflow: ellipsis;

  &::placeholder {
    color: #70707b;
  }
}

.inputFontSizeSmall {
  font-size: 12px;
}

.inputFontSizeLarge {
  font-size: 14px;
}

.inputSize24px {
  height: 24px;
  padding: 0px 12px;
}

.inputSize36px {
  height: 36px;
  padding: 0px 12px;
}

.inputSize40px {
  height: 40px;
  padding: 0px 16px;
}

.inputSize48px {
  height: 48px;
  padding: 0px 16px;
}

.inputPaddingSmall {
  padding-left: 12px;
}

.inputPaddingLarge {
  padding-left: 16px;
}

.label {
  font-weight: 500;
  line-height: 20px;
  color: #1a1a1e;
  display: flex;
  gap: 4px;
}

.labelContent {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

.labelSmall {
  font-size: 12px;
}

.labelLarge {
  font-size: 14px;
}

.helperText {
  font-weight: 400;
  line-height: 20px;
  color: #51525c;
}

.focusStyles {
  border-color: #84caff;
  box-shadow: 0px 0px 0px 4px #2e90fa3d;
}

.inputWrapperBorderDisabled {
  border-width: 0px;
  &:hover {
    border-width: 1px;
  }
}

.required {
  color: #d92d20;
}

.inputWrapperBorderError {
  border: 1px solid #fda29b;
}

.inputWrapperErrorFocused {
  border-color: #fda29b;
  box-shadow: 0px 0px 0px 4px #f044383d;
}

.labelDisabled {
  color: #70707b;
}

.inputDisabled {
  cursor: not-allowed;
  color: #d2d1d6;
  &::placeholder {
    color: #d1d1d6;
  }
}

.inputWrapperDisabled {
  cursor: not-allowed;
}

.helperTextDisabled {
  color: #d1d1d6;
}

.helperTextError {
  color: #d92d20;
}

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconError {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shortKeyIcon {
  display: flex;
  align-items: center;
}
