.TagInput {
  min-width: 320px;
  max-width: 320px;
  min-height: 113px;
  padding: 8px 12px;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #d1d1d6;
  opacity: 0px;
}

.btn {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #70707b;
  background-color: transparent;
  display: flex;
  cursor: pointer;
}
